@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,800;0,900;1,100;1,200;1,400;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
*{
  margin:0px;
  padding: 0px;
  outline: 0px;
}
body{
  font-family:'Rajdhani', 'Poppins', sans-serif;
}
ul li{
  list-style-type: none;
}
a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
img{
  border:0px;
}
.pt-100{
padding:100px 0px;
}
.pb-100{
  padding: 100px;
}
.menu li {
display: inline-block;
margin-left: 36px;
}
.menu li a{
  font-family:'poppins';
  color: #fff;
  font-weight: 400;
}
.header_full {
  height: 100px;
  background: #ff5200;
}
.menu {
margin-bottom: 0px;
text-align: right;
line-height: 100px;
}
.logo a h2 {
  font-family: poppins;
  font-weight: 700;
  color: #fff;
  line-height: 100px;
}
ul .menu li a:first-child {
  color: #000 !important;
}
.menu li a i {
  font-size: 24px;
  padding: ;
}
/* slider part code start */
.slider_full {
  overflow: hidden;
}
.slider-text {
  color: #fff;
  text-align: center;
  font-family: poppins;
  padding: 350px 0;
}
.slider-text h1 {
  font-weight: 700;
}
.slider-text a:hover {
  background: transparent;
  border: 1px solid #ff5200;
}
.slider-text p {
  color: #dfdfdf;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 48px;
  width: 70%;
  text-align: center;
  margin:25px auto 48px auto;
}
.slider-text a {
  color: #fff;
  background: #ff5200;
  padding: 10px 30px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
  font-weight: 400;
}
.bg-1{
  background-image: url(../img/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-2{
  background-image: url(../img/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* About Information code start */

.about-text h3 {
  font-family: poppins;
  font-weight: 700;
  font-size: 34px;
  position: relative;
}
.about-text h3::after {
  width: 26%;
  height: 1px;
  background: #ff5200;
  content: '';
  position: absolute;
  top: 40px;
  left: 480px;
}
.about-text p {
  font-family: poppins;
  color: #555;
  font-size: 15px;
  font-weight: 300;
  margin-top: 20px;
}
/* Distracted code part start */


.distracted_left {
  font-family: poppins;
  font-weight: 300;
}
.distracted_left h3 {
  font-size: 26px;
}
.distracted_left p {
  font-size: 16px;
  margin-top: 21px;
}
.destracted_right img {
  width: 100%;
}
.distruction_btn a {
  color: #fff;
  background: #000;
  font-family: poppins;
  padding: 13px 26px;
  border-radius: 3px;
  font-weight: 500;
}

.destructed_full .col-md-6 {
  margin-bottom: 64px;
}
.distruction_btn a:hover {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  transition: all .3s ease-in-out;
}
.destructed_full {
  margin-bottom: 145px;
}
.service_img img {
  width: 100%;
  border-radius: 20px;
}
.service_full{
  background:#eeeeee;
}
.services .col-md-4 {
  position: relative;
  margin-top: 23px;
}
.service_text {
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 189px;
  top: 95px;
}
.service_text a {
  color: #ff5200;
  font-weight: 500;
  font-size: 23px;
}
.overlay-bg {
  width: 95%;
  height: 0%;
  background: #fff;
  content: '';
  position: absolute;
  opacity: 0;
  transition: all .3s ease-in-out;
  border-radius: 20px;
}

.service_img:hover .overlay-bg {
  opacity: .5;
  height: 100%;
}

.ourblog_full .about-text h3::after {
  width: 14%;
  left: 558px;
  top: 47px;
}
.ourblog_full .about-text {
  margin-bottom: 50px;
}
.blog_img img {
  width: 100%;
}
.blog_img {
  position: relative;
}
.blog_date {
  position: absolute;
  background: #ff5200;
  top: 0;
  left: 0;
  width: 29%;
  color: #fff;
  font-weight: 300;
  font-family: poppins;
  padding: 10px 22px;
  text-align: center;
}
.blog_date p {
  margin-bottom: 0px;
}
.blog_details {
  font-family: poppins;
  font-size: 14px;
  font-weight: 300;
  color: #ff5200;
  padding: 9px 0px;
  overflow: hidden;
}
.blog_details p {
}
.blog_details p:last-child {
}
.blog-left {
  width: 50%;
  float: left;
}
.blog_right {
  float: left;
  width: 50%;
  text-align: center;
}
.blog_right p {
  float: right;
  margin-left: 20px;
  color: #555;
  margin-bottom: 0px;
}
.blog_right span {
  color: #ff5200;
  margin-right: 5px;
}

.blog_about {
  font-family: poppins;
  font-weight: 300;
  color: #777;
  font-size: 14px;
  margin-top: -12px;
  padding-bottom: 20px;
}
.blog_about h4 {
  color: #444;
  margin-bottom:10px;
  text-transform: capitalize;
}


/* footer part code start */

.sectionnine_full{
  background-color:#1a1a1a;
  
}
.sectionnine {
  overflow: hidden;
  display: block;
}
.sectionninedetails {
  padding: 80px 0px;
  overflow: hidden;
  padding-top: 141px;
}
.ninesingle {
  width: 230px;
  float: left;
  color: #999;
  overflow: hidden;
  margin-right: 13px;
}
.ninesingle:last-child {
  margin-right: 0px;
}
.ninesingle p {
  margin: 20px 0px;
  line-height: 22px;
}

.nineabouticon i {
  color: #999;
  margin-right: 10px;
  transition: .5s;
}

.nineabouticon a i:hover {
  color: #ff5200;
}
.contactspan {
  padding-top: 20px;
  line-height: 25px;
}

.ninesingle h2 {
  color: #fff;
  font-size: 29px;
}

.contactspan i {
  float: left;
  color: #ff5200;
  margin-right: 9px;
  font-size: 16px;
  margin-top: 5px;
}
.contactdetails {
  float: left;
  width: 203px;
}
.ninesingle ul li a i {
  margin: 10px 0px;
  width: 8px;
}
.ninesingle ul {
  padding-top: 16px;
}


.ninesingle ul li a {
  width: 200px !important;
  display: block;
 border-bottom: 1px #333 dashed;
 color: #999;
}
.ninesingle ul li a:last-child {
  border: 0px;
}
.frpost {
  overflow: hidden;
}

.frpmeta {
  overflow: hidden;
  width: 40px;
  padding: 8px 7px;
  float: left;
  background: #313131;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  border-bottom: 30px;
}
.frpmeta span:first-child {font-weight: 800;font-size: 21px;}

.frpmeta span:last-child {
  font-size: 9px;
  font-weight: 700;
  display: block;
  margin-top: 2px;
  line-height: 13px;
}
.frtitle {
  width: 161px;
  float: right;
}
.frtitle h3 {
  margin-bottom: 1px;
  transition: .5s;
  font-size: 19px;
}
.frtitle h3:hover{
  color:#ff5200;
}
.frposttitle {
  width: 138px;
  float: right;
}

.frposttitle h3 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 15px;
}
.frtitle a {
  color: #777;
  font-size: 11px;
  margin-right: 10px;
}





/* ------------------------------ footer part code start----------------------------*/

.footer_full{
  background-color: #1a1a1a;
  border-top:1px solid #777;

  padding: 65px 0px;
  font-family: poppins;
  font-size: 14px;
}
.footer{
 height: 100px;

}

.copyrighttext {
  float: left;
  font-size: 15px;
}

.copyright {
  color: #b5b0b0;
  padding: 40px 0px;
  line-height: 2px;
}

footer {
  background: #242424;
  font-family:'poppins';
}
.copyrightmenu ul li a {
  color: #e1dede;
}

.copyrightmenu {
  float: right;
  font-family: poppins;
}
.copyrightmenu ul li a{
  color:#999;
  margin-right: 15px;
  font-family: poppins;
  font-weight: 600;
}

